* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color:rgb(65, 65, 65);
}

head {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#particles-js {
    width: 100%;
    height: 100vh;
}

#main_box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline-style: solid;
    outline-color: pink; */
}

#main_box img {
    margin: auto;
    display: block;
    margin-bottom: -20px;
}

#portrait {
    border-radius: 50%;
    width: 300;
    height: 300;
}
@media (max-width: 600px) { /*for mobile view */
    #portrait {
        width: 150;
        height: 150;
    }
}

#title {
    font-size: 90px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    /* outline-style: solid;
    outline-color: green; */
}
@media (max-width: 600px) { /*for mobile view */
    #title {
        font-size: 60px;
    }
}

#social_links {
    margin: auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    /* outline-style: solid;
    outline-color: red; */
}

#social_links img {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    /* outline-style: solid;
    outline-color: green; */
}

#social_links img:hover {
    opacity: 0.6;
}

#social_links a {
    text-decoration: none;
}

#gmail-icon {
    width: 35;
    height: 30;
    vertical-align: middle;
}
@media (max-width: 600px) { /*for mobile view */
    #gmail-icon {
        width: 30;
        height: 25;
    }
}


#linked_in_icon {
    width: 31;
    height: 30;
    vertical-align: middle;
}
@media (max-width: 600px) { /*for mobile view */
    #linked_in_icon {
        width: 26;
        height: 25;
    }
}

