/* This stops a blue highlight to appear when tapping on buttons on mobile */
* {
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    position: relative;
    background-color:rgb(65, 65, 65);
    margin: 0px;
}

head {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 1600px;
    z-index: -10;
}

#main_box {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    /* outline-style: solid;
    outline-color: pink; */
}
@media (max-width: 650px) { /*for mobile view */
    #main_box {
        top: 145px;
    }
}


#main_box img {
    margin: auto;
    display: block;
    margin-bottom: -20px;
}

#portrait {
    border-radius: 50%;
    width: 310;
    height: 310;
}
@media (max-width: 650px) { /*for mobile view */
    #portrait {
        width: 170;
        height: 170;
    }
}

#title {
    font-size: 90px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    white-space: nowrap;
    /* outline-style: solid;
    outline-color: green; */
}
@media (max-width: 650px) { /*for mobile view */
    #title {
        font-size: 45px;
    }
}

#social_links {
    margin: auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    /* outline-style: solid;
    outline-color: red; */
}

#social_links img {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    /* outline-style: solid;
    outline-color: green; */
}
@media (max-width: 650px) { /*for mobile view */
    #social_links img {
        margin-right: 5px;
        margin-left: 5px;
    }
}

#social_links img:hover {
    opacity: 0.6;
}

#social_links a {
    text-decoration: none;
}

#gmail-icon {
    width: 35;
    height: 30;
    vertical-align: middle;
}
@media (max-width: 650px) { /*for mobile view */
    #gmail-icon {
        width: 30;
        height: 25;
    }
}


#linked_in_icon {
    width: 31;
    height: 30;
    vertical-align: middle;
}
@media (max-width: 650px) { /*for mobile view */
    #linked_in_icon {
        width: 26;
        height: 25;
    }
}



/* Next section of homepage */

#wrapper {
    position: absolute;
    width: 100%;
    /* outline-style: solid;
    outline-color: orange; */
    top: 850px;
    margin-top: 0px;
}
@media (max-width: 650px) { /*for mobile view */
    #wrapper {
        top: 700px;
    }
}

#sub_box1 {
    width: 100%;
    background-color: rgb(58, 58, 58);
    margin-bottom: 100px;
    outline-style: solid;
    outline-color: orange;
}
@media (max-width: 650px) { /*for mobile view */
    #sub_box1 {
        margin-top: -100px;
    }
}


#Introduction_background {
    margin: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    padding-top: 80px;
    padding-bottom: 95px;
    /* outline-style: solid;
    outline-color: green; */
}
@media (max-width: 650px) { /*for mobile view */
    #introduction_background {
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 50px;
        padding-bottom: 75px;
    }
}

#Introduction_background h2 {
    color: white;
    font-size: 50px;
}

#stats li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#stats li {
    color: white;
    font-size: 20px;
    padding-bottom: 6px;
}


#sub_box2 {
    width: 100%;
    background-color: rgb(58, 58, 58);
    margin-bottom: 100px;
    outline-style: solid;
    outline-color: orange;
}
@media (max-width: 650px) { /*for mobile view */
    #sub_box2 {
        margin-top: -97px;
    }
}


/* #Extended_descrip {
    margin: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    padding-top: 80px;
    padding-bottom: 95px;
}
@media (max-width: 650px) { 
    #Extended_descrip {
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 50px;
        padding-bottom: 75px;
    }
} */

/* #Extended_descrip h2 {
    color: white;
    font-size: 50px;
} */

/* #details li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
} */

/* #details li {
    color: white;
    font-size: 20px;
    padding-bottom: 6px;
} */